/*--------------------------------------------------------------------
*
* $PROGRESS BARS
*
--------------------------------------------------------------------*/

.progress,
.meter
  border-radius: 3px
  line-height: 0

.progress.progress-rounded,
.progress-rounded .meter
  border-radius: 50px

.progress
  border: $ui-border
  background-color: lighten($secondary-color-lighter, 90%)

  .meter
    display: inline-block
    background-color: $primary-color
    height: 100%

//- Sizes

.progress-small
  height: 15px

.progress-large
  height: 25px

//- Variations

.progress-success
  .meter
    background-color: $success-color

.progress-warning
  .meter
    background-color: $warning-color

.progress-error
  .meter
    background-color: $alert-color
