/*--------------------------------------------------------------------
*
* $COLORS
*
--------------------------------------------------------------------*/

// http://clrs.cc
$primary-color = #0074D9
$secondary-color = #DDDDDD
$alert-color = #FF4136
$success-color = #2ECC40
$warning-color = #FF851B
$info-color = #7FDBFF

$primary-color-light = lighten($primary-color, 50%)
$primary-color-lighter = lighten($primary-color, 90%)
$secondary-color-light = lighten($secondary-color, 50%)
$secondary-color-lighter = lighten($secondary-color, 90%)
$alert-color-light = lighten($alert-color, 50%)
$alert-color-lighter = lighten($alert-color, 90%)
$success-color-light = lighten($success-color, 50%)
$success-color-lighter = lighten($success-color, 90%)
$warning-color-light = lighten($warning-color, 50%)
$warning-color-lighter = lighten($warning-color, 90%)
$info-color-light = lighten($info-color, 50%)
$info-color-lighter = lighten($info-color, 90%)
